body {
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  margin: 0;
  min-height: 100vh;
  height: min-content;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(./img/black-banner-yellow-light-background_33869-664.jpg);
}

h1 {
  display: flex;
  padding-left: 35px;
  font-size: xx-large;
  border: 2px solid #ff1825;
  color: wheat;
}

#scores-list {
  width: 45%;
  height: 166px;
  border-radius: 4px;
  margin-right: -4rem;
  overflow-y: scroll;
  margin-left: 5rem;
}

#scores-list::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

#scores-list::-moz-scrollbar {
  width: 0;
  background-color: transparent;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding: 3px;
  background-color: wheat;
}

li:nth-child(even) {
  background-color: lightgray;
}

#add-form {
  display: flex;

  /* margin-top: -5rem; */
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
  align-items: center;
}

#add-button {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #060606;
  width: 6rem;
}

#add-form label {
  margin-right: 10px;
  border: 1px solid;
}

h2 {
  font-size: smaller;
}

h3 {
  font-size: smaller;
}

#score-btn {
  display: flex;
  gap: 3rem;
  margin-left: 4.5rem;

  /* flex-direction: row; */
  align-items: center;
  justify-content: flex-start;
}

h4 {
  font-size: x-large;
  color: wheat;
}

#forma {
  display: flex;
  flex-direction: column;
  margin-top: -6.8rem;
  gap: 1rem;
  margin-left: 12rem;
}

#list-form-container {
  display: flex;
}

h5 {
  font-size: x-large;
  color: wheat;
  margin-top: 3.2rem;
}

h6 {
  font-size: large;
  padding: 5px;
  padding-left: 2rem;
  color: wheat;
  border: 2px solid #ff1825;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.refresh {
  border-radius: 5px;
  border: 1px solid #060606;
  text-align: center;
  padding: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.03em;
}

#name {
  border-radius: 8px;
  border: 1px solid #060606;
  height: 1.8rem;
}

#score {
  border-radius: 8px;
  border: 1px solid #060606;
  height: 1.8rem;
}
